.customer_link, .order_link
{
	display: inline-block;
}
.customer_link:link, .customer_link:visited,
.order_link:link, .order_link:visited
{
	color: black;
	text-decoration: none;
}
.customer_link:hover, .customer_link:active,
.order_link:hover, .order_link:active
{
	border-color: blue;
	text-decoration: none;
}
.customer, .product, .order, .cart_entries
{
	border-style: solid;
	padding-left: 10px;
	width: fit-content;
	max-width: 800px;
	margin-bottom: 10px;
	overflow: hidden;
	display: inline-block;
}
.cart_entries
{
	display: block;
}
.customer_order, .customer_order_entry, .order_entry, .cart_entry
{
	border-style: solid;
	padding-left: 10px;
	margin-bottom: 10px;
	margin-right: 10px;
}
p
{
	margin: 4px;
	padding: 2px;
}
.form_label
{
	display: inline-block;
	min-width: 130px;
	vertical-align: top;
}
.customer_inner, .customer_order_inner
{
	margin: auto;
}
.form_input_ltext
{
	height: 4.4em;
}
.tool
{
	display: inline;
	height: 15px;
	padding-left: 5px;
}

.header
{
	display: inline;
}
.menu-nav
{
	display: inline-block;
}
.menu-user
{
	display: inline-block;
	float: right;
}
.form_label_qty
{
	width: auto;
}
.form_input_qty
{
	width: 40px;
}
.form_cart_add
{
	display: block;
	margin: auto;
	width: fit-content;
}

.form_wrapper_link
{
	display: block;
}
