
<div class="product">
    <p>Product Name: {{ product.product_name }}</p>
	<p>Product Description: {{ product.product_description }}</p>
	<p>Quantity on Hand: {{ product.product_qty }}</p>
	<p>Unit Cost: {{ product.product_cost }}</p>
	<p>Discontinued: {{ product.product_cost }}</p>

	{% if addcart %}
	<form action="{% url 'product_cartadd' %}" class="form_cart_add" method="post">
		{% csrf_token %}
		<input type="hidden" name="product_id" value="{{ product.product_code }}"/>
		<label for="inventory_cartadd_qty" class="form_label_qty">
			Qty:
		</label>
		<input type="number" class="form_input_qty" id="inventory_cartadd_qty" name="product_qty" min="0" max="10" value="1"/>
		<input type="submit" value="Add to cart."/>
	</form>
	{% endif %}
</div>
