{% load static %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>Title of document</title>
		<link rel="stylesheet" href="{% static 'fulfillment/style.css' %} ">
		
<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	<body>
		<menu>
			<div class="menu-nav">
				<a href="{% url 'customers' %}">Customers</a>
				<a href="{% url 'inventory' %}">Invnetory</a>
				<a href="{% url 'orders' %}">Orders</a>
			</div>
			<div class="menu-user">
				<span>Example User</span>
			</div>
		</menu>
		<main>
			{% block body %}{% endblock %}
		</main>
	</body>
</html> 
