{% extends "fulfillment/base.html" %}
{% load static %}

{% block body %}
<h2 class="header">Cart</h2>
<div class="cart_entries">
	{% for entry in entries %}
	{% if entry.cart == cart %}
	<div class="cart_entry">
		<p>Product Name: {{ entry.product.product_name }}</p>
		<p>Quantity Ordered: {{ entry.qty }}</p>
		<p>Comment: {{ entry.comment }}</p>
	</div>
	{% endif %}
	{% endfor %}
</div>

<form id="purchase_form" method="post" action="{% url 'cart-order' %}">
	{% csrf_token %}
	<label for="customer" class="form_label">Customer: </label>
	<select id="customer" name="customer">
		<option value="customer1">Customer 1</option>
		<option value="customer2">Customer 2</option>
	</select>
</form>
{% endblock %}
