{% extends "fulfillment/base.html" %}

{% block body %}
<h2>Customer</h2>

<div id="customer_list">
	<div class="customer">
		<div class="customer_inner">
			<form id="cancelform" method="get" action="{% url 'customer' customer.id %}"></form>
			<form id="customer_form" method="post" action="{% url 'customer-edit' customer.id %}">
				{% csrf_token %}
				<p>
					<label for="customer_fname" class="form_label">
						First Name: </label>
					<input id="customer_fname" class="form_input_stext"
						type="text" name="{{ form.customer_fname.html_name}}"
						value="{{ customer.customer_fname }}"/>
				</p>
				<p>
					<label for="customer_lname" class="form_label">
						Last Name: </label>
					<input id="customer_lname" class="form_input_stext"
						type="text" name="{{ form.customer_lname.html_name }}"
						value="{{ customer.customer_lname }}"/>
				</p>
				<p>
					<label for="customer_email" class="form_label">
						Email Address: </label>
					<input id="customer_email" class="form_input_stext"
						type="email" name="{{form.customer_email.html_name }}"
						value="{{ customer.customer_email }}"/>
				</p>
				<p>
					<label for="customer_phone" class="form_label">
						Phone Number: </label>
					<input id="customer_phone" class="form_input_stext"
						type="tel" name="{{ form.customer_phone.html_name }}_0"
						value="{{ customer.customer_phone }}"/>
					<input type="hidden" name="{{ form.customer_phone.html_name}}_1"/>
				</p>
				<p>
					<label for="customer_comment" class="form_label">
						Comment: </label>
					<textarea id="customer_comment" class="form_input_ltext"
						name="{{ form.customer_comment.html_name }}"
						value="{{ customer.customer_comment }}"></textarea>
				</p>
			</form>
				<input type="submit" value="Save" form="customer_form">
				<input type="submit" value="Cancel" form="cancelform">
				
			<h3>Orders</h3>
			<div class="customer_orders">
				{% for order in orders %}
				<div class="customer_order">
					<p>Date Ordered: {{ order.order_date }}</p>
					<p>Date Due: {{ order.order_due }}</p>
					<p>Comments: {{ order.order_comment }}</p>

					<h4>Ordered Products</h4>
					<div class="customer_order_entries">
						{% for entry in entries %}
						{% if entry.entry_order == order %}
						<div class="customer_order_entry">
							<p>Product Name: {{ entry.entry_product.product_name }}</p>
							<p>Quantity Ordered: {{ entry.entry_qty }}</p>
							<p>Comment: {{ entry.entry_comment }}</p>
						</div>
						{% endif %}
						{% endfor %}
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
</div>
{% endblock %}
