{% extends "fulfillment/base.html" %}
{% load static %}

{% block body %}
<h2 class="header">Customer</h2>
<a href="{% url 'customer-edit' customer.id %}">
	<img class="tool" src="{% static 'fulfillment/icons/pencil-square-o.svg' %}" alt="edit customer" />
</a>
<div id="customer_list">
	<div class="customer">
		<p>
			<span class="form_label">First Name:</span>
			<span class="form_label">{{ customer.customer_fname }}</span>
		</p>
		<p>
			<span class="form_label">Last Name:</span>
			<span class="form_label">{{ customer.customer_lname }}</span>
		</p>
		<p>
			<span class="form_label">Email Address:</span>
			<span class="form_label">{{ customer.customer_email }}</span>
		</p>
		<p>
			<span class="form_label">Phone Number:</span>
			<span class="form_label">{{ customer.customer_phone }}</span>
		</p>
		<p>
			<span class="form_label">Comment:</span>
			<span class="form_label">{{ customer.customer_comment }}</span>
		</p>
		
		<h3 class="header">Orders:</h3>
		<a href="{% url 'customer-edit' customer.id %}">
			<img class="tool" src="{% static 'fulfillment/icons/plus-square-o.svg' %}" alt="edit customer" />
		</a>

		<div class="customer_orders">
			{% for order in orders %}
			<a href="{% url 'order' order.id %}" class="order_link">
				<div class="customer_order">
					<p>Date Ordered: {{ order.order_date }}</p>
					<p>Date Due: {{ order.order_due }}</p>
					<p>Comments: {{ order.order_comment }}</p>

					<h4 class="header">Ordered Products</h4>
					<div class="customer_order_entries">
						{% for entry in entries %}
						{% if entry.entry_order == order %}
						<div class="customer_order_entry">
							<p>Product Name: {{ entry.entry_product.product_name }}</p>
							<p>Quantity Ordered: {{ entry.entry_qty }}</p>
							<p>Comment: {{ entry.entry_comment }}</p>
						</div>
						{% endif %}
						{% endfor %}
					</div>
				</div>
			</a>
			{% endfor %}
		</div>
	</div>
</div>
{% endblock %}
