{% extends "fulfillment/base.html" %}

{% block body %}
<h2>Customers</h2>

<div id="customer_list">
	{% for customer in customers %}
	<a href="{% url 'customer' customer.id %}" class="customer_link">
		<div class="customer">
			<p>First Name: {{ customer.customer_fname }}</p>
			<p>Last Name: {{ customer.customer_lname }}</p>
			<p>Email Address: {{ customer.customer_email }}</p>
			<p>Phone Number: {{ customer.customer_phone }}</p>
			<p>Comment: {{ customer.customer_comment }}</p>
		</div>
	</a>
	{% endfor %}
</div>
{% endblock %}
