{% extends "fulfillment/base.html" %}

{% block body %}
<h2>Product List</h2>

<div id="product_list">
	{% for product in products %}
	<!--<a href="{% url 'product' product.product_code %}" class="customer_link">-->
		{% block product %}
			{% include 'fulfillment/fragments/product.frag.html' with addcart="f" %}
		{% endblock %}
	<!--</a>-->
	{% endfor %}
</div>
{% endblock %}
