{% extends "fulfillment/base.html" %}
{% load static %}

{% block body %}
<h2 class="header">Order</h2>
<a href="{% url 'order-edit' order.id %}">
	<img class="tool" src="{% static 'fulfillment/icons/pencil-square-o.svg' %}" alt="edit order" />
</a>
<div id="order_list">
	<div class="order">
		<p>Customer: {{ order.order_customer.customer_fname }} {{ order.order_customer.customer_lname}}</p>
		<p>Date Ordered: {{ order.order_date }}</p>
		<p>Date Due: {{ order.order_due }}</p>
		<p>Comments: {{ order.order_comment }}</p>

		<h4>Ordered Products</h4>
		<div class="customer_order_entries">
			{% for entry in entries %}
			{% if entry.entry_order == order %}
			<div class="customer_order_entry">
				<p>Product Name: {{ entry.entry_product.product_name }}</p>
				<p>Quantity Ordered: {{ entry.entry_qty }}</p>
				<p>Comment: {{ entry.entry_comment }}</p>
			</div>
			{% endif %}
			{% endfor %}
		</div>
	</div>
</div>
{% endblock %}
