{% extends "fulfillment/base.html" %}

{% block body %}
<h2>Orders</h2>

<div id="order_list">
	{% for order in orders %}
	<a href="{% url 'order' order.id %}" class="order_link">
		<div class="order">
			<p>Customer: {{ order.order_customer.customer_fname }} {{ order.order_customer.customer_lname}}</p>
			<p>Date Ordered: {{ order.order_date }}</p>
			<p>Date Due: {{ order.order_due }}</p>
			<p>Comments: {{ order.order_comment }}</p>
	
			<h4>Ordered Products</h4>
			<div class="order_entries">
				{% for entry in entries %}
				{% if entry.entry_order == order %}
				<div class="order_entry">
					<p>Product Name: {{ entry.entry_product.product_name }}</p>
					<p>Quantity Ordered: {{ entry.entry_qty }}</p>
					<p>Comment: {{ entry.entry_comment }}</p>
				</div>
				{% endif %}
				{% endfor %}
			</div>
		</div>
	</a>
	{% endfor %}
</div>
{% endblock %}
