{% extends "fulfillment/base.html" %}

{% block body %}
<h2 class="header">Order</h2>

<div id="order_list">
	<div class="order">
		<form id="cancel_form" method="get" action="{% url 'order' order.id %}"></form>
		<form id="order_form" method="post" action="{% url 'order-edit' order.id %}">
			{% csrf_token %}
			<p>
				<span class="form_label">Customer:</span>
				<span class="form_label">{{ order.order_customer.customer_fname }} {{ order.order_customer.customer_lname}}</span>
			</p>
			<p>
				<span class="form_label">Date Ordered:</span>
				<span class="form_label">{{ order.order_date }}</span>
			</p>
			{% if form.order_due.errors %}
			<p class="errors">
				Errors:
				<ol>
					{% for error in form.order_due.errors %}
					<li><strong>{{ error|escape }}</strong></li>
					{% endfor %}
				</ol>
			</p>
			{% endif %}
			<p>

				<label for="order_due" class="form_label">Date Due:</label>
				<input id="order_due" class="form_label" type="date"
					name="{{ form.order_due.html_name }}"
					value="{{ order.order_due | date:"Y-m-d" }}"/>

			</p>
			{% if form.order_comment.errors %}
			<p class="errors">
				Errors:
				<ol>
					{% for error in form.order_comment.errors %}
					<li><strong>{{ error|escape }}</strong></li>
					{% endfor %}
				</ol>
			</p>
			{% endif %}

			<p>
				<label for="order_comment" class="form_label">Comments:</label>
				<textarea class="form_input_ltext" id="order_comment"
					name="{{ form.order_comment.html_name }}"
					value="{{ order.order_comment }}"></textarea>
			</p>

		</form>
		<input type="submit" value="Save" form="order_form"/>
		<input type="submit" value="Cancel" form="cancel_form"/>


			<h4>Ordered Products</h4>
			<div class="customer_order_entries">
				{% for entry in entries %}
				{% if entry.entry_order == order %}
				<div class="customer_order_entry">
					<p>Product Name: {{ entry.entry_product.product_name }}</p>
					<p>Quantity Ordered: {{ entry.entry_qty }}</p>
					<p>Comment: {{ entry.entry_comment }}</p>
				</div>
				{% endif %}
				{% endfor %}
			</div>
		</div>
</div>
{% endblock %}
