{% extends "fulfillment/base.html" %}

{% block body %}
<h2>Product List</h2>

<div id="product_list">
		<div class="product">
			<p>Product Name: {{ product.product_name }}</p>
			<p>Product Description: {{ product.product_description }}</p>
			<p>Quantity on Hand: {{ product.product_qty }}</p>
			<p>Unit Cost: {{ product.product_cost }}</p>
			<p>Discontinued: {{ product.product_cost }}</p>
		</div>
</div>
{% endblock %}
